{% extends '../base/base.html' %}
{% block title %}
    Products
{% endblock %}
{% block products %} active {% endblock %}
{% block content %}
{% load static %}
    <main class="container-products">
        <section class="filters">
            <h2 class="section-title">Filters</h2>
            <div class="filter-group">
                <label for="category-filter">Category:</label>
                <label>
                    <select class="category-filter form-select">
                        <option value="">All Categories</option>
                        <!-- Add more categories -->
                    </select>
                </label>
            </div>
            <div class="filter-group">
                <label for="subcategory-filter">Sub Category:</label>
                <label>
                    <select class="subcategory-filter form-select">
                        <option value="">All Sub Categories</option>
                        <!-- Add more categories -->
                    </select>
                </label>
            </div>
            <div class="filter-group">
                <label for="size-filter ">Size:</label>
                <label>
                    <select class="size-filter form-select">
                        <option value="">Select Size</option>
                    </select>
                </label>
            </div>
            <div class="filter-group">
                <label for="color-filter">Color:</label>
                <label>
                    <select class="color-filter form-select">
                        <option value="">Select Color</option>
                    </select>
                </label>
            </div>
            <div class="filter-group">
                <label for="price-slider">Price:</label>
                <div class="price-slider">
                     <input type="range" id="price-slider" min="" max="" value="">
                </div>
            </div>
            <div class="filter-group">
                <label for="name-filter">Product Name:</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Product Name" id="product-name">
                </div>
            </div>
            <div class="filter-group">
                <button class="reset-products btn btn-outline-secondary me-md-2 w-100">Reset</button>
            </div>

        </section>

        <section class="products">
            <div class="toolbar">
                <div class="sort-by">
                    <label>
                        <select class="form-select sort-price">
                            <option value="popularity">Sort by popularity</option>
                            <option value="price-low">Sort by price: low to high</option>
                            <option value="price-high">Sort by price: high to low</option>
                        </select>
                    </label>
                </div>
                <div class="results">
                    <p class="product-length"></p>
                </div>
            </div>

            <div class="product-grid" id="productGrid">
                
            </div>
        </section>
    </main>
{% endblock %}