{% extends '../base/base.html' %}
{% block title %}
Login
{% endblock %}
{% block login %} active {% endblock %}
{% block content %}
<section class="h-75 d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl- mw-100">
            <div class="card rounded-5 border-0 shadow-lg">
              <div class="card-body p-5">
                <h2 class="text-center mb-5">Log in</h2>
                <form class="login-form" method="post">
                    {% csrf_token %}
                  <div class="form-group mb-3">
                    <label class="form-label" for="phone">Phone Number:</label>
                    <input
                      type="text"
                      id="phone"
                      name="phone_number"
                      class="form-control"
                      placeholder="phone number"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="form-label" for="password">Password:</label>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Enter password"
                    />
                  </div>
                    <div class="message"></div>
                  <div class="text-center">
                    <button
                      type="submit"
                      class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem; width: 100%;"
                    >
                      Login
                    </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                      Don't have an account?
                      <a href="/register" class="link-danger">Register</a>
                    </p>
                    <p class="small fw-bold mt-2 pt-1 mb-0 text-center">
                      <a href="#" class="link-danger" data-bs-toggle="modal" data-bs-target="#forget-password">Forgot password?</a>
                    </p>
                  </div>
                </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="modal fade" id="forget-password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div id="verification">
          <div class="mb-3">
            <label for="phone-number-fgp" class="col-form-label">Phone Number:</label>
            <input type="text" class="form-control" id="phone-number-fgp">
             <div class="phone-message"></div>
          </div>
            <div class="mb-3">
            <label for="email-fgp" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="email-fgp">
             <div class="email-message"></div>
          </div>
                </div>
            <div id="password-input" style="display: none">
          <div class="mb-3">
            <label for="new-password" class="col-form-label">New Password:</label>
            <input type="password" class="form-control" id="new-password">
              <div class="new-password-message"></div>
          </div>
             <div class="mb-3">
            <label for="confirm-password" class="col-form-label">New Password Again:</label>
            <input type="password" class="form-control" id="confirm-password">
                 <div class="confirm-password-message"></div>
          </div>
                </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div class="btn-check-info"><button type="button" class="btn btn-primary" id="btn-check">Send</button></div>
         <div class="btn-update-password"  style="display: none"><button type="button" class="btn btn-primary" id="btn-update-password">Change Password</button></div> 
      </div>
    </div>
  </div>
</div>
{% endblock %}