{% extends '../base/base.html' %}
{% block title %}
Account
{% endblock %}
{% block account %} active {% endblock %}

{% block content %}
 <div class="container mt-5">
        <h1 class="text-primary text-center mb-4">Personal Info</h1>
        <hr>

        <div class="row">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="first-name" class="form-label">First Name:</label>
                                <input type="text" class="form-control" id="first-name" value="dey-dey" required>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="last-name" class="form-label">Last Name:</label>
                                <input type="text" class="form-control" id="last-name" value="bootdey" required>

                            </div>
                        </div>
                    </div>
                       <div class="form-group mb-3">
                        <label for="user-birth-day" class="form-label">Birthday:</label>
                           <input type="date" value="2003-09-25" id="user-birth-day" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="user-phone" class="form-label">Phone:</label>
                                <input type="text" class="form-control" id="user-phone" value="038888888" required>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="user-email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="user-email" value="mainguyentrungkienn2509@gmail.com" required>

                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                         <button type="submit" class="btn btn-primary ju">Save Changes</button>
                    </div>

                </form>

        </div>
    </div>

{% endblock %}