{% extends '../base/base.html' %} 
{% block title %} Cart {% endblock %} 
{% block cart %} active {% endblock %} 

{% block content %}
<main class="py-5">
  <div class="container">
      
    <h2 class="text-center mb-4">Your Cart</h2>
    <div class="row">
      <div class="col-md-8">
        <div class="table-responsive table-responsive-stack"> 
            <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col"></th> 
              <th scope="col" data-label="Product">Product</th>
                
              <th scope="col" class="text-center" data-label="Size">Size</th>
              <th scope="col" class="text-center" data-label="Color">Color</th>
              <th scope="col" class="text-center" data-label="Quantity">Quantity</th>
              <th scope="col" class="text-center" data-label="Price">Price</th>
            </tr>
          </thead>
          <tbody id="cart-item">
            <!-- Cart items will be dynamically inserted here -->
          </tbody>
        </table>
        </div> 
        <div class="row mt-3">
          <div class="col-md-6">
            <a href="/shop/" class="btn btn-secondary">Return to Shop</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cart Summary</h5>
            <ul class="list-group list-group-flush" id="cart-summary">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Total Product
                <span class="badge bg-secondary rounded-pill" id="totalProduct"></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Total
                <span class="badge bg-success rounded-pill" id="totalPrice"></span>
              </li>
            </ul>
            <a class="btn btn-success w-100 mt-3" href="#" id="checkout">
              Proceed to Checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}