{% extends '../dashboard-base/base.html' %} {% block title %} Home {% endblock %}

{% block content %}
 <div class="container">
        <!-- Your dashboard content here -->
        <div class="row">
          <div class="col-md-12">
            <h1>Dashboard</h1>
            <p>Welcome to Kiien's Store Dashboard!</p>
            <p>
              This dashboard provides you with insights into your store's
              performance and activity.
            </p>
          </div>
        </div>
      </div>
{% endblock %}