{% extends '../base/base.html' %} {% block title %} Contact {% endblock %}
{%block about %} active {% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <ol class="activity-checkout mb-0 px-4 mt-3">
            <li class="checkout-item">
              <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle bg-primary">
                  <i class="bx bxs-receipt text-white font-size-20"></i>
                </div>
              </div>
              <div class="feed-item-list">
                <div>
                  <h5 class="font-size-16 mb-1">Billing Info</h5>
                  <p class="text-muted text-truncate mb-4">

                  </p>
                  <div class="mb-3">
                    <form>
                      <div>
                        <div class="row">
                          <div class="col-sm-5 col-md-6">
                            <div class="mb-3">
                              <label class="form-label" for="billing-name"
                                >Name</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="billing-name"
                                placeholder="Enter name"
                              />
                                <div class="billing-name-message"></div>
                            </div>
                          </div>
                          <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                            <div class="mb-3">
                              <label class="form-label" for="billing-phone"
                                >Phone</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="billing-phone"
                                placeholder="Enter Phone no."
                              />
                                <div class="billing-phone-message"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </li>
            <li class="checkout-item">
              <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle bg-primary">
                  <i class="bx bxs-truck text-white font-size-20"></i>
                </div>
              </div>
              <div class="feed-item-list">
                <div>
                  <h5 class="font-size-16 mb-1">Shipping Info</h5>
                  <p class="text-muted text-truncate mb-4">

                  </p>
                   <div class="mb-3">
                    <form>
                      <div>
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="mb-3">
                              <label class="form-label" for="province-option"
                                >Province</label
                              >
                              <select class="form-select" id="province-option">
                                <option value="">Select Province</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="mb-3">
                              <label class="form-label" for="district-option"
                                >Province</label
                              >
                              <select class="form-select" id="district-option">
                                <option value="">Select District</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="mb-3">
                              <label class="form-label" for="ward-option"
                                >Province</label
                              >
                              <select class="form-select" id="ward-option">
                                <option value="">Select Ward</option>
                              </select>
                            </div>
                          </div>
                        </div>
                          <div class="address-message"></div>
                          <div class="form-group">
                            <label for="address-detail">Detail</label>
                            <textarea class="form-control rounded-3" id="address-detail" rows="3" placeholder="Street address, apartment number, etc."></textarea>
                          </div>
                          <div class="detail-message"></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </li>
            <li class="checkout-item">
              <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle bg-primary">
                  <i class="bx bxs-wallet-alt text-white font-size-20"></i>
                </div>
              </div>
              <div class="feed-item-list">
                <div>
                  <h5 class="font-size-16 mb-1">Payment Info</h5>
                  <p class="text-muted text-truncate mb-4">
                  </p>
                </div>
                <div>
                  <h5 class="font-size-14 mb-3">Payment method :</h5>
                  <div class="row">
                    <div class="col-lg-3 col-sm-6">
                      <div data-bs-toggle="collapse">
                        <label class="card-radio-label">
                          <input
                            type="radio"
                            name="pay-method"
                            id="pay-methodOption1"
                            class="card-radio-input"
                            value="creditCard"
                          />
                          <span
                            class="card-radio py-3 text-center text-truncate"
                          >
                            <i class="bx bx-credit-card d-block h2 mb-3"></i>
                            Credit / Debit Card
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                      <div>
                        <label class="card-radio-label">
                          <input
                            type="radio"
                            name="pay-method"
                            id="pay-methodOption2"
                            class="card-radio-input"
                            value="paypal"
                          />
                          <span
                            class="card-radio py-3 text-center text-truncate"
                          >
                            <i class="bx bxl-paypal d-block h2 mb-3"></i>
                            Paypal
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                      <div>
                        <label class="card-radio-label">
                          <input
                            type="radio"
                            name="pay-method"
                            id="pay-methodOption3"
                            class="card-radio-input"
                            value="cashOnDelivery"
                            checked
                          />
                          <span
                            class="card-radio py-3 text-center text-truncate"
                          >
                            <i class="bx bx-money d-block h2 mb-3"></i>
                            <span>Cash on Delivery</span>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <a href="{% url 'products' %}" class="btn btn-link text-muted">
            <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping
          </a>
        </div>
        <div class="col">
          <div class="text-end mt-2 mt-sm-0">
            <a href="#" class="btn btn-success" id ="proceed-checkout">
              <i class="mdi mdi-cart-outline me-1"></i> Proceed
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card checkout-order-summary">
        <div class="card-body">
          <div class="p-3 bg-light mb-3">
            <h5 class="font-size-16 mb-0">
              Order Summary 
            </h5>
          </div>
          <div class="table-responsive">
            <table class="table table-centered mb-0 table-nowrap">
              <thead>
                <tr>
                  <th class="border-top-0" style="width: 110px" scope="col">
                    Product
                  </th>
                  <th class="border-top-0" scope="col">Product Desc</th>
                  <th class="border-top-0" scope="col">Price</th>
                </tr>
              </thead>
              <tbody id ="order-items">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
