{% extends '../base/base.html' %}
{% block title %}
My Order
{% endblock %}

{% block content %}
         <div class="container mt-5">
        <h2 class="text-center mb-4">My Orders</h2>

        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex">
                <div class="sort-by me-2">
                    <label>
                        <select class="form-select sort-order-time-price">
                            <option selected value="">Sort By</option>
                            <option value="price-low">Sort by Total: low to high</option>
                            <option value="price-high">Sort by Total: high to low</option>
                            <option value="latest">Sort by Latest</option>
                            <option value="oldest">Sort by Oldest</option>
                        </select>
                    </label>
                </div>
                
                <label for="order-input"></label><input type="text" class="form-control" id="order-input" placeholder="Search">

            </div>
            <div class="results">
                <p class="product-length"></p>
            </div>
          
        </div>

        <div class="row">
            <div class="table-responsive table-responsive-stack">
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr>
                            <th scope="col" data-label="Product" class="text-center">Order ID</th>
                            <th scope="col" class="text-center" data-label="Created-at">Created at</th>
                            {#                  <th scope="col" class="text-center" data-label="Item">User ID</th>#}
                            <th scope="col" class="text-center" data-label="User-name">User Name</th>
                            <th scope="col" class="text-center" data-label="Receiver-name">Receiver Name</th>
                            <th scope="col" class="text-center" data-label="Receiver-phone">Receiver Phone</th>
                            <th scope="col" class="text-center" data-label="Address">Address</th>
                            <th scope="col" class="text-center" data-label="Total">Total</th>
                            <th scope="col" class="text-center" data-label="Action">Status</th>
                        </tr>
                    </thead>
                    <tbody id="my-orders">
                        <!-- orders will be dynamically inserted here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
{% endblock %}