{% extends '../base/base.html' %}
{% block title %}Order Detail{% endblock %}

{% block content %}
   <div class="container">
   <input type="hidden" id="order-id" value="{{ order_id }}">
<div class="row">
    				<!-- BEGIN INVOICE -->
					<div class="col-12">
						<div class="grid invoice">
							<div class="grid-body">
								<div class="invoice-title">
									<div class="row">
									</div>
									<br>
									<div class="row">
										<div class="col-12">
											<h2>invoice<br>
											<span class="small" id="myOrderId"></span></h2>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-6">
										<address>
											<strong>Receiver Info:</strong><br>
											<span class="receiver-info"></span>
                                            
										</address>
									</div>
									<div class="col-6 text-end">
										<address>
											<strong>Shipped To:</strong><br>
											<span class="order-address"></span>
										</address>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<address>
											<strong>Payment Method:</strong><br>
											<span class="order-payment-method"></span>
										</address>
									</div>
									<div class="col-6 text-end">
										<address>
											<strong>Order Date:</strong><br>
											<span class="order-date"></span>
										</address>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h3>ORDER SUMMARY</h3>
                                        <div class="table-responsive table-responsive-stack">
										<table class="table">
											<thead>
												<tr class="line">
													<td><strong>#</strong></td>
													<td ><strong>Item</strong></td>
													<td class="text-center"><strong>Quantity</strong></td>
													<td class="text-end"><strong>Price</strong></td>
												</tr>
											</thead>
											<tbody id="my-order-items">
											</tbody>
										</table>
                                        </div>
                             <div class="row mb-3 mt-3">
                              <div class="col-md-12 d-flex justify-content-end align-items-center">
                                <div class="d-flex flex-column">
                                  <div class="mb-2 d-flex justify-content-between">
                                    <label for="sub-total"><strong>Sub Total: </strong></label>
                                    <p class="sub-total"></p>
                                  </div>
                                  <div class="mb-2 d-flex justify-content-between">
                                    <label for="shipping-charge"><strong>Shipping Charge: </strong></label>
                                    <p class="shipping-charge ms-5"></p>
                                  </div>
                                  <div class="mb-2 d-flex justify-content-between">
                                    <label for="total"><strong>Total: </strong></label>
                                    <p class="total"></p>
                                  </div>
                                </div>
                              </div>
                            </div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END INVOICE -->
				</div>
</div>
{% endblock %}