    {% extends '../base/base.html' %}
{% block title %}
Contact
{% endblock %}
{% block about %} active {% endblock %}

{% block content %}
    {% load static %}
  <div class="about py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-md-2">
                        <img src="{% static 'images/103.webp' %}" alt="About Us" class="img-fluid about-img rounded">
                    </div>
                    <div class="col-md-6 order-md-1">
                        <h1 class="display-4 font-weight-bold mb-4">Our Story</h1>
                        <p class="lead mb-4">
                            Exclusive was founded in 2015 with a mission to become South Asia’s premier online shopping marketplace.
                            We have a strong presence in Bangladesh, offering a wide range of products and serving millions of customers across the region.
                        </p>
                        <p class="mb-4">
                            We pride ourselves on:
                        </p>
                        <ul class="list-unstyled mb-4">
                            <li>

                                A diverse assortment of products, catering to a wide range of needs.
                            </li>
                            <li>

                                A commitment to quality and customer satisfaction.
                            </li>
                            <li>

                                A user-friendly and secure shopping experience.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}