    {% extends '../base/base.html' %}
{% block title %}
Contact
{% endblock %}
{% block about %} active {% endblock %}

{% block content %}
    {% load static %}
  <div class="about py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-md-2">
                        <img src="{% static 'images/103.webp' %}" alt="About Us" class="img-fluid about-img rounded">
                    </div>
                    <div class="col-md-6 order-md-1">
                        <h1 class="display-4 font-weight-bold mb-4">Our Story</h1>
                        <p class="lead mb-4">
                            Kiien's, established in 2024, is an emerging force in the online fashion retail landscape. We aim to curate a unique and stylish collection for the modern individual, prioritizing quality and individuality.
                        </p>
                        <p class="mb-4">
                      <strong>We believe in:</strong> 
                    </p>
                    <ul class="list-group list-group-flush mb-4">
                      <li class="list-group-item">Offering a carefully curated selection of on-trend pieces, reflecting a strong sense of style and personality.</li>
                      <li class="list-group-item">Prioritizing customer satisfaction through excellent service and a seamless shopping experience.</li> 
                         <li class="list-group-item">Creating a space where fashion is accessible and self-expression is celebrated.</li> 
                    </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}